{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Emotion Recognition</title>
        <link rel="stylesheet" href="static/style/basic.css">
        <style>
            .head{
                text-align: center;
                color: white;
                margin-top: 300px;
            }
            .li{
                text-align: center;
                margin-left: 700px;
                font-size: 30px;
            }
        </style>
    </head>
    <body>
        <h1 class="head">Welcome To Emotion Recognition</h1>
        <a class="li" href="{% url 'webcam' %}">Click Here</a>
    </body>
</html>